footer {
    background-color: black;
    padding: var(--mobile-section-padding);
    color: var(--dark-gray);
    text-align: center;
}

footer hr {
    border-top: 1px solid var(--dark-gray);
}

.footer-design-by {
    margin: 1rem;
}

.footer-design-by > span {
    color: rgb(126, 126, 126);
    font-weight: 600;
}

.footer-nav {
    margin: 3rem 0;
}

.footer-nav .nav-list-item {
    margin-bottom: 0.5rem;
}


.footer-nav .nav-list-item a {
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 1.2rem;
}


.footer-nav .nav-list-item i {
    margin-right: 0.5rem;
}


footer .footer-contacts {
    text-align: center;
    margin: 3rem 0;
}

footer .footer-contacts div {
    margin: 1.6rem 0;
}

.footer-nav .nav-list-item a:hover {
    color: white;
}

footer .footer-contacts i {
    margin-right: 0.5rem;
}


@media screen and (min-width: 1250px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        position: relative;
    }


    .footer-nav .nav-list {
        column-count: 2;
        text-align: initial;
    }

    .footer-design {
        width: 18%
    }

    .footer-nav {
        margin-left: 8rem;
    }


    footer .footer-design::after {
        content: "";
    position: absolute;
    height: 10rem;
    top: 4rem;
    left: 32%;
    display: block;
    border: 1px solid var(--dark-gray);
    }

    footer .footer-nav::after {
        content: "";
    position: absolute;
    height: 10rem;
    top: 4rem;
    left: 67%;
    display: block;
    border: 1px solid var(--dark-gray);
    }

}