@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('./navigation.css');
@import url('./footer.css');

:root {
    --navi-height: 48px;
    --box-shadow: white 0px 10px 10px -10px;
    --dark-blue-btn-color: #21424A;
    --green-btn-color: #2FAC6C;
    --light-gray: rgb(196, 196, 196);
    --dark-gray: rgb(129, 129, 129);
    --mobile-section-padding: 1.5rem 2rem;
}

html {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    word-break: break-word;
}

main {
    margin-top: var(--navi-height);
}


.welcome {
    text-align: center;
    background-color: black;
    color: white;
    padding: 8rem 0 0 0;
}

.welcome .welcome-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.welcome .welcome-subtitle {
    font-style: italic;
    color: rgb(226, 226, 226);
}

.welcome .welcome-subtitle:first-of-type {
    margin-bottom: 0.25rem;
}

.welcome-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    background-color: var(--green-btn-color);
}

.welcome-buttons .btn {
    color: white;
    border: none;
    padding: 1rem 0.40rem;
    font-size: 1.2rem;
    width: 50%;
}

.welcome .login-btn {
    background-color: var(--dark-blue-btn-color);
    clip-path: polygon(0% -100%, 100% 0, 95% 100%, 0% 100%);
}

.welcome .register-btn {
    background-color: var(--green-btn-color);
}

.about-us {
    padding: var(--mobile-section-padding);
    text-align: center;
}

.about-us-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
}

.about-us-title > span {
    font-weight: 700;
}

.about-us-text {
    color: var(--dark-gray);
}

.about-us .members-list {
    margin: 3rem 0;
}

.about-us .member-list-item {
    margin-bottom: 2rem;
}

.about-us .member-list-item .member-img {
    border-radius: 50%;
    border: 5px solid var(--light-gray);
}

.about-us .member-list-item .member-name {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.about-us .member-list-item .member-position {
    font-weight: 500;
    color: var(--dark-gray);
    font-size: 1rem;
    margin: 0.75rem;
}

.about-us .member-list-item i {
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-gray);
}

.about-us .member-list-item .icon {
    margin-right: 0.75rem;
}

.about-us .member-list-item .icon:last-child {
    margin-right: 0;
}

.about-us .member-list-item i:hover {
    color: rgb(0, 162, 236);
}

.reviews {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../assets/reviews-section-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--mobile-section-padding);
    color: white;
    text-align: center;
}

.review .review-text {
    color: var(--light-gray);
}

.review .review-member {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
}

.services {
    padding: var(--mobile-section-padding);
    text-align: center;
}

.services-list-item .lighting-icon {
    color: white;
    background-color: #F1C40F;
}

.services-list-item .cloud-icon {
    color: white;
    background-color: #0EA7E6;
}

.services-list-item .arrows-icon {
    color: white;
    background-color: #95A5A6;
}

.services-list-item .comments-icon {
    color: white;
    background-color: #F1540F;
}

.services-list-item i {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services-list-item .service-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 0.75rem;
}

.services-list-item .service-info {
    color: var(--dark-gray);
    margin-bottom: 3rem;
}

@media screen and (min-width: 640px) {
    .about-us .members-list {
        display: flex;
        justify-content: space-around;
    }

    .about-us .members-list .member-list-item {
        flex: 1;
    }

}

@media screen and (min-width: 768px) {
    .welcome {
        padding: 12rem 0 0 0;
    }

    .welcome-buttons {
        margin-top: 14rem;
    }
    
    .welcome-buttons .btn {
    padding: 1.6rem 0.40rem;
    font-size: 1.4rem;
    }


    .services .services-list {
        display: flex;
        flex-wrap: wrap;
    }

    .services .services-list-item {
        flex: 1 0 45%;
        margin: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .services .services-list-item {
        flex: 1 0 20%;
    }

    .reviews {
        padding: 3rem;
    }

}

@media screen and (min-width: 1200px) {
    .about-us {
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }

    .about-us .about-us-info {
        width: 30%;
        text-align: justify;
    }

    .about-us .members-list {
        gap: 4rem;
    }

    .about-us .members-list .member-list-item {
        flex: none;
    }

    .about-us-info::after {
        content: "";
        position: absolute;
        height: 185px;
        top: 5rem;
        left: 51%;
        display: block;
        border: 2px dashed var(--light-gray);
    }

}